
<h3>Welcome among us @FirstName  @LastName </h3>
<div>
    <p>Being green is the life philosophy that unites us.</p>
    <p>Respecting the environment is possible.</p>
    <br />
    <p>Thank you for deciding to do it with us too</p>
</div>
<div>
    <div>We have registered you with the following</div>
    <div>email: @Email</div>
    <div>username: @Username</div>
    <div>psw: @Psw</div>
    <div>
        <div>To modify your data</div>
        <div><a>Update</a></div>
    </div>
    <div>
        <div>To cancel your subscription</div>
        <div><a>Delete</a></div>
    </div>
    
</div>


@code {
    [Parameter]
    public string FirstName { get; set; }
    [Parameter]
    public string LastName { get; set; }
    [Parameter]
    public string Email { get; set; }
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public string Psw { get; set; }
}
